
@import "_oa";

@include font-face("Monaco", font-files("monaco/monaco.ttf", "monaco/monaco.otf"));
@include font-face("icomoon", font-files("icomoon/icomoon.eot", "icomoon/icomoon.woff", "icomoon/icomoon.ttf", "icomoon/icomoon.svg"));
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon', Monaco, "微軟正黑體", "Microsoft JhengHei";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  @include font-smoothing(antialiased);
}

* {
  &, &:after, &:before {
    vertical-align: top;
    @include box-sizing(border-box);
    @include selection(rgba(150, 200, 255, 1), rgba(255, 255, 255, 1));
    @include font-smoothing(antialiased);
  }
}

html {
  height: 100%;

  body {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-family: "Roboto", "微軟正黑體", Monaco, "Microsoft JhengHei" ;
    background-color: white;

    @include font-smoothing(antialiased);

  }
}

.icon-calendar:before {
  content: "\e900";
}
.icon-clock:before {
  content: "\e901";
}
.icon-pin-alt:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-vimeo:before {
  content: "\e905";
}
.icon-share:before {
  content: "\e80d";
}



$allwidth: 960px;


header {
  width: 100%;
  background-color: white;
  padding: 30px 0;

  img {
    width: 10%;
    height: auto;
  }
}



nav {
  width: 100%;
  height: 50px;
  background-color: rgba(26, 25, 30, 1.00);

  .navboxs {
    max-width: $allwidth;
    margin: 0 auto;

      @include clearfix();

      > a {
        display: inline-block;
        float: left;
        cursor: pointer;
        width: calc(100% / 6);
        line-height: 50px;
        color: white;
        font-size: 16px;
        font-weight: bolder;
        text-decoration: none;

        &:hover {
          background-color: rgba(253, 98, 52, 1.00);
          color: black;
        }
      }
  }
}



.bannerboxs {
  width: 100%;
  padding: 100px 0;
  background-color: rgba(115, 116, 117, 1.00);

  .times, .bigtitle, .title {
    padding: 0;
    margin: 0;
    color: white;
    white-space: pre-wrap;
    // 保留空格
  }

  .times {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    // 全部大寫
  }

  .bigtitle {
    font-size: 115px;
    font-weight: 600;
    padding-top: 50px;
    text-transform: capitalize;
    // 第一個字大寫
  }

  .title {
    font-size: 26px;
    font-weight: 300;
    padding-top: 50px;
  }

  a {
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 18px;
    padding: 10px 50px;
    font-weight: 300px;
    background-color: rgba(253, 98, 52, 1.00);
    @include border-radius(20px); 
    margin-top: 50px;

    &:hover {
      background-color: rgba(253, 98, 52, .8);
    }
  }
}



.middleboxs, .contactboxs {
  max-width: $allwidth;
  margin: 0 auto;
  padding: 60px 0;  

  .lineboxs {
    width: 100%;
    border-bottom: 1px solid rgba(211, 212, 213, 1.00); 
    padding-bottom: 35px;
    margin-bottom: 35px;

    .line_a, .line_b {
      padding: 0;
      margin: 0;
      color: black;
    }

    .line_a {
      font-size: 13px;
      font-weight: 300;
      text-transform: uppercase;
      white-space: nowrap;
      letter-spacing: 6px;
      padding-bottom: 20px;
    }

    .line_b {
      font-size: 38px;
      font-weight: bolder;
      text-transform: capitalize;
    }
  }

  .centboxs {
    width: 100%;
    margin-bottom: 35px;
    @include clearfix();

    > div {
      float: left;
      width: calc(100% / 3 - (30px * 2) / 3);
      height: 195px;
      background-color: rgba(171, 172, 173, 1.00);
      position: relative;
    
      &:nth-child(3n + 2) {
        margin-right: 30px;
        margin-left: 30px;
      }

      &:nth-child(n + 4) {
        margin-top: 30px;
      }

      span {
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        display: inline-block;
        background-color: rgba(26, 27, 28, 1.00);
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bolder;
        padding: 8px 0;

        &:hover {
          background-color: rgba(26, 27, 28, .8);
        }
      }
    }
  }

  .bigboxs {
    width: 100%;
    height: 350px;
    background-color: rgba(192, 193, 194, 1.00);
  }

  .centboxs_2 {
    width: 100%;
    margin: 13px 0 35px 0;
    @include clearfix();

    > div {
      width: calc(100% / 3 - (13px * 2) / 3);
      background-color: rgba(192, 193, 194, 1.00);
      height: 110px;
      float: left;

      &:nth-child(2) {
        margin-left: 13px; 
        margin-right: 13px;
      }
    }
  }

  .readbtn {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    color: rgba(139, 140, 141, 1.00);
    border: 1px solid rgba(139, 140, 141, 1.00);
    background-color: rgba(255, 255, 255, 0);
    @include border-radius(15px);
    padding: 5px 15px;

    &:hover {
      color: rgba(253, 98, 52, 1.00);
      border: 1px solid rgba(253, 98, 52, 1.00);
    }
  }


  .infoboxs {
    width: 100%;

    @include split-right(500px, '.infoleft', '.inforight');

    .infoleft {
      @include clearfix();
      
      .infobox {
        display: inline-block;
        width: 100%;
        padding-bottom: 30px;

        .info_top, .info_down {
          text-align: left;
          text-transform: capitalize;
        }

        .info_top{
          font-size: 18px;
          font-weight: 600;
          color: rgba(69, 69, 70, 1.00);  

          p {
            display: inline-block;
            padding: 0;
            margin: 0;
            margin-right: 15px;
          }      
        }

        .info_down {
          padding: 0;
          margin: 0;
          padding-top: 10px;
          font-size: 16px;
          font-weight: 400;
          color: rgba(154, 155, 156, 1.00);
          text-indent: 33px;
        }

        .add {
          display: inline-block;
          float: left;
          color: rgba(154, 155, 156, 1.00);
          padding-top: 10px;

          &:after {
            display: inline-block;
            content: '│';
            margin-right: 10px;
            padding-left: 10px;
          }
          
          &:first-child {
            padding-left: 33px;
          }

          &:last-child {
            &:after {
              content: ' ';
            }            
          }
        

          a {
            cursor: pointer;
            display: inline-block;
            font-size: 16px;
            font-weight: 400;
            color: rgba(154, 155, 156, 1.00);
            text-decoration: none;
            text-align: left;

            &:hover {
              color: rgba(253, 98, 52, 1.00);
            }
          }
        }

        .iconbox {
          margin-top: 10px;
          float: left;
          cursor: pointer;
          display: inline-block;
          padding: 10px;
          background-color: rgba(233, 234, 235, 1.00);
          color: rgba(107, 108, 109, 1.00);
          text-decoration: none;
          @include border-radius(3px);
          

          &:hover {
            background-color: rgba(253, 98, 52, 1.00);
            color: white;
          }

          &:nth-child(1) {
            margin-left: 33px;
          }

          &:nth-child(n + 2) {
            margin-left: 10px;
          }
          
        }
      }
    }

    .inforight {
      height: 315px;
      background-color: rgba(214, 215, 216, 1.00);
    }
  }
}


.contactboxs {
  @include clearfix();
  
  .contactbox {
    display: inline-block;
    float: left;
    width: 50%;
    border: 1px solid rgba(255, 0, 0, .3);

    @include clearfix();

    &:first-child {
      padding-right: 10px;
    }

    .co_title {
      white-space: pre-wrap;
      text-transform: capitalize;
      text-align: left;
      font-size: 22px;
      font-weight: bolder;
      padding-bottom: 20px;
      color: rgba(45, 46, 47, 1.00);
    }

    p {
      padding: 0;
      margin: 0;
      font-size: 16px; 
      color: rgba(129, 130, 131, 1.00);
      text-align: left;
      line-height: 28px;
      padding-bottom: 20px;
    }

    .btn {
      float: left;
    }


  }
}


footer {
  width: 100%;
  height: 90px;
  background-color: rgba(26, 25, 30, 1.00);

  .footerboxs {
    max-width: $allwidth;
    margin: 0 auto;

    @include clearfix();

    p, a {
      display: inline-block;
      color: rgba(126, 121, 125, 1.00);
      line-height: 90px;
    }

    p {
      float: left;
      padding: 0;
      margin: 0;
      padding-left: 20px;
    }

    a {
      cursor: pointer;
      float: right;
      text-decoration: none;
      padding-right: 20px;

      &:hover {
        color: rgba(253, 110, 66, 1.00);
      }
    }
  }
}










